<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jayk.app.todo.mapper.TodoMapper">
	<select id="selectAllTodo" resultType="TodoVO">
		SELECT task, task_date, done FROM todolist ORDER BY task_date
	</select>
</mapper>